
{% extends 'base.html.twig' %}

{% block title %}Hello PictureController!{% endblock %}

{% block body %}
<style>
.example-wrapper{
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
}
</style>

<div class="example-wrapper">
 <h2 class="mb-5"> Les Evenements</h2>
 <div class="row">
            {% for p in pictures %}
            <div class="card col-4 m-1" style="width: 18rem;">
                <div class="card-body">
                <img src="{{ p.Filename }}"
                    <h5 class="card-title">{{ p.event.title | default('Sans evenement')}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{p.Place}}</h6>
                    <p class="card-text">{{p.createdBy.firstname}}</p>
                    
                    <p class="card-text">{{ p.date | date('d-m-y') }}</p>
                    <a href="{{ path('event_list') }}" class="btn btn-success">Retour</a>
                </div>
            </div>
            {% endfor %}

        </div>

  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="{{ path('picture_card', {'page': currentPage - 1}) }}"{% if currentPage == 1 %} style="pointer-events: none; color: #6c757d;"{% endif %}>
        Previous
      </a>
    </li>
    
    {% set startPage = max(1, currentPage - 3) %}
    {% set endPage = min(totalPages, startPage + 6) %}
    
    {% if startPage > 1 %}
      <li class="page-item"><span class="page-link">...</span></li>
    {% endif %}
    
    {% for page in startPage..endPage %}
      <li class="page-item">
        <a class='page-link' href="{{ path('picture_card', {'page': page}) }}" {% if page == currentPage %}class="active "{% endif %}>{{ page }}</a>
      </li>
    {% endfor %}
    
    {% if endPage < totalPages %}
      <li class="page-item"><span class="page-link">...</span></li>
    {% endif %}
    
    <li class="page-item">
      <a class="page-link" href="{{ path('picture_card', {'page': currentPage + 1}) }}"{% if currentPage == totalPages %} style="pointer-events: none; color: #6c757d;"{% endif %}>
        Next
      </a>
    </li>
  </ul>
</nav>


</div>
{% endblock %}
